@use "sass:map" as map;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --color-primary: #0084ff77;
  --color-secondary: #0084ff;
  --color-divider: #d8d8d8;
}

$palette: (
  primary: var(--color-primary),
  divider: var(--color-divider),
);

$player: (
  width: 300px,
  button-width: 84px,
  button-fill: rgba(map.get($palette, "primary"), 0.6),
  border-color: map.get($palette, "divider"),
  button-hover: rgba(map.get($palette, "primary"), 0.4),
  button-active: rgba(map.get($palette, "primary"), 1),
);

$select: (
  option-checked: rgba(map.get($palette, "primary"), 0.6),
  option-active: rgba(map.get($palette, "primary"), 0.4),
  option-hover: rgba(map.get($palette, "primary"), 0.1),
);

body {
  font-family: "Poppins", sans-serif;
  color: #666;
  accent-color: map.get($palette, "primary");
}

#pause-icon {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid map.get($player, "border-color");
  // width: map.get($player, "width");

  padding: 0;
  margin: 0;

  section {
    gap: 8px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid map.get($player, "border-color");
    width: calc(100% - 20px);
    font-size: 14px;
  }

  > label {
    display: flex;
    width: 100%;
  }
  
  input {
    width: 100%;
  }

  output {
    display: block;
    text-align: end;
    min-width: 40px;
  }

  em {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 12px);
    height: 24px;
    padding: 6px;
  }

  menu {
    padding: 0;
    display: flex;
    gap: 10px;

    li {
      padding: 0;
      list-style: none;
    }

    button {
      width: map.get($player, "button-width");
      display: flex;
      justify-content: center;
      height: 32px;
      border-color: transparent;
      border-style: solid;
      background: transparent;
      cursor: pointer;
      opacity: .4;
      
      &:hover {
        opacity: .8;
      }
      
      &:active,
      &:focus {
        opacity: 1;
      }
    }
  }

  select {
    padding: 10px;
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
  }

  select option {
    padding: 6px 12px;
  }

  select option:active {
    background: map.get($select, "option-active");
  }

  select option:checked {
    background: map.get($select, "option-checked");
  }

  select option:hover:not(:checked) {
    background: map.get($select, "option-hover");
  }
}


.flex {
  display: flex;
  
  &-column {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }

  &-justify-between {
    justify-content: space-between;
  }

  &-align-center {
    align-items: center;
  }
}

